<div class="gallery-page">
    <section class="templatemo-top-section">
        @await Component.InvokeAsync("MenuView")
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <img src="~/img/welcome-img.png" class="img-responsive welcome-img" alt="Welcome">
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                        <h2 class="text-uppercase">
                            <span class="welcome-title-1">Chúng tôi</span>
                            <span class="welcome-title-2">tôn trọng quyết định của bạn</span>
                        </h2>
                        <p class="welcome-message">
                            Chúng tôi luôn đồng hành cùng quý khách hàng, sẵn sàng <span class="blue">
                                lắng nghe
                            </span> và <span class="green">thấu hiểu</span>
                            để đem lại những giá trị tuyệt vời nhất!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container margin-bottom-50">
        <div class="row">
            <h2 class="col-lg-12 text-center text-uppercase margin-bottom-30">Bộ Sưu Tập Tất Cả Hãng Xe</h2>
        </div>
    </section>

    <!--Main content-->
    <section class="container margin-bottom-50">
        <div class="row">
            <div class="tm-gallery col-lg-12">
                @* Gọi viewcomponent Bộ sưu tập *@
                @await Component.InvokeAsync("Gallery")
            </div>
        </div>
        @await Component.InvokeAsync("Banner")
    </section> <!-- Main content -->
</div>