<!--banner-->
<div class="tm-banner">
    <h2 class="tm-banner-title">Banner quảng cáo</h2>
    <p class="tm-banner-description">Liên hệ với chúng tôi để đặt quảng cáo trên website ngay bây giờ!</p>
    <a href="#" class="tm-banner-link"><i class="fa fa-play"></i></a>
</div>