@model List<HangXeDetail>
@{
    var dshangxe = Model.Select(hx => hx.TenHangXe);
}
@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
            alert("@TempData["alertMessage"]");
    </script>
}
<div>
    <section class="templatemo-top-section">
        @await Component.InvokeAsync("MenuView")
        <div class="templatemo-welcome">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <img src="~/img/welcome-img.png" class="img-responsive welcome-img" alt="Welcome">
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                        <h2 class="text-uppercase">
                            <span class="welcome-title-1">Chúng tôi</span>
                            <span class="welcome-title-2">tôn trọng quyết định của bạn</span>
                        </h2>
                        <p class="welcome-message">
                            Chúng tôi luôn đồng hành cùng quý khách hàng, sẵn sàng <span class="blue">
                                lắng nghe
                            </span> và <span class="green">thấu hiểu</span>
                            để đem lại những giá trị tuyệt vời nhất!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container margin-bottom-50">
        <div class="row">
            <div class="col-lg-12 tm-overflow-hidden">
                <div class="tm-img-1-container">
                    <img src="~/img/Background/Lamborghini_bg.jpg" alt="Image description">
                    <p class="tm-img-1-description">Lamborghini</p>
                </div>
                <div class="tm-img-1-container">
                    <img src="~/img/Background/Porsche_bg.jpg" alt="Image description">
                    <p class="tm-img-1-description">Porsche</p>
                </div>
                <div class="tm-img-1-container">
                    <img src="~/img/Background/RollsRoyce_bg.jpg" alt="Image description">
                    <p class="tm-img-1-description">Rolls Royce</p>
                </div>
                <div class="tm-img-1-container">
                    <img src="~/img/Background/Volkswagen_bg.jpg" alt="Image description">
                    <p class="tm-img-1-description">Volkswagen</p>
                </div>
            </div>
        </div>
    </section>

    <!--Main content-->
    <section class="container margin-bottom-50">
        <div class="tm-overflow-hidden row">
            <div style="margin-left: 550px;">
                <div><b style="font-size:large">Find Your Car</b></div>
                <div style="display: contents;">
                    <input id="searchMauSac" type="text" placeholder="Màu Sắc" autocomplete="off" />
                    <input id="searchDongCo" type="text" placeholder="Động Cơ" autocomplete="off" />
                </div>
            </div>
            <div id="DongXe" class="tm-gallery col-lg-9 col-md-9 col-sm-8 col-xs-12">
                @* Trả về viewcomponent Dòng xe trong Hãng xe được chọn *@
                @await Component.InvokeAsync("LoadDongXe")
            </div>
            <aside class="tm-gallery-aside col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <nav class="tm-gallery-nav">
                    <h2 class="tm-gallery-nav-title"> Category <i class="fa fa-caret-up"></i></h2>
                    <ul>
                        <li>
                            <a onclick="loadDongXe('All')">
                                <img src="~/img/gallery-list-icon.png" class="tm-gallery-list-img" alt="Image">All
                                <i class="fa fa-caret-right tm-gallery-list-fa"></i>
                            </a>
                            @foreach (var hangxe in dshangxe)
                            {

                                <a onclick="loadDongXe('@hangxe')">
                                    <img src="~/img/gallery-list-icon.png" class="tm-gallery-list-img" alt="Image">@hangxe
                                    <i class="fa fa-caret-right tm-gallery-list-fa"></i>
                                </a>
                            }
                            <i class="fa fa-caret-right tm-gallery-list-fa"></i>
                        </li>
                    </ul>
                </nav>
                <div class="tm-call-us">
                    <h3 class="text-uppercase tm-call-us-title">Đường dây nóng</h3>
                    <a href="tel:" class="tm-call-us-link">+84 987 654 321</a>
                </div>
            </aside>
        </div>


        @await Component.InvokeAsync("Banner")

    </section> <!-- Main content -->
</div>

<script>
    @*Ajax xử lý hiển thị dòng xe khi 1 hãng xe được nhấp vào *@
    function loadDongXe(TenHangXe) {
        console.log(TenHangXe)
        $.ajax({
            url: '@Url.Action("LoadDongXe", "Products")',
            data: { TenHangXe: TenHangXe, MauSac: $('#searchMauSac').val(), DongCo: $('#searchDongCo').val() },
            type: 'POST',
            dataType: 'html',
            success: function (data) {
                $("#DongXe").html(data)
            }
        });
    };
</script>