@model List<Category>
@{ 
    var dshangxe = Model.Select(hx => hx.TenHangXe).Distinct();
 }

<div class="tm-overflow-hidden row">
    <div class="tm-gallery col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <h3 class="tm-gallery-title">Toyota (53)</h3>
            <div class="tm-item-container">
                <img src="~/img/2.jpg" alt="Image">
                <p class="tm-item-description">
                    <div id="DongXe"></div>
                </p><hr>
                <div class="tm-item-price-container">
                    <span class="tm-item-price">$ 34,000</span>
                    <a href="#" class="tm-item-link">
                        <span class="tm-item-action">Add to Cart</span>
                        <img src="~/img/plus.png" class="tm-item-add-icon" alt="Image">
                    </a>
                </div>
            </div>
    </div>
    <aside class="tm-gallery-aside col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <nav class="tm-gallery-nav">
            <h2 class="tm-gallery-nav-title"> Category <i class="fa fa-caret-up"></i></h2>
            <ul>
                <li>
                    @foreach (var hangxe in dshangxe)
                    {
                        var dsdongxe = Model.Where(c => c.TenHangXe == hangxe).Select(m => m.TenDongXe);
                        
                        <a href="javascript:;" onclick="loaddx(this)" data-dongxes="@dsdongxe">
                            <img src="~/img/gallery-list-icon.png" class="tm-gallery-list-img" alt="Image">@hangxe
                            <i class="fa fa-caret-right tm-gallery-list-fa"></i>
                        </a>
                    }
                    <i class="fa fa-caret-right tm-gallery-list-fa"></i>
                </li>
            </ul>
        </nav>
        <div class="tm-call-us">
            <h3 class="text-uppercase tm-call-us-title">Call us</h3>
            <a href="tel:" class="tm-call-us-link">+11 565 789 57</a>
        </div>
    </aside>
</div>
<script>
        
    function loaddx(ctl) {
                
                $("#DongXe").html($(ctl).data("dongxes"));       
        }
</script>

