@{
    if (null != TempData["ThieuXeMessage"])
    {
        <script type="text/javascript">
            alert("@TempData["ThieuXeMessage"]");
        </script>
    }
    if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
            alert("@TempData["alertMessage"]");
        </script>
    }
}
<div class="about-page">
    <section class="templatemo-top-section">
        @await Component.InvokeAsync("MenuView")
        @await Component.InvokeAsync("Slide")
    </section>

    <!--Main content-->
    <section class="container margin-bottom-50">
        <!--Highest Price-->
        <div>
            <h4 class="about-container-3">Giá Cao Nhất</h4>
            <div class="about-container">
                @await Component.InvokeAsync("HighestPrice")
            </div>
        </div>

        <!--Newest Car-->
        <div>
            <h4 class="about-container-3">Mới Nhập Gần Đây</h4>
            <div class="about-container-2 margin-bottom-50">
                @await Component.InvokeAsync("NewestCar")
            </div>
        </div>

        <!--Leader-->
        <div>
            <h4 class="about-container-3">Ban Lãnh Đạo</h4>
            <div class="about-container-2">
                @await Component.InvokeAsync("Leader")
            </div>
        </div>

        @await Component.InvokeAsync("Banner")
    </section> <!-- Main content -->
</div>