@{
    if (null != TempData["ThieuXeMessage"])
    {
        <script type="text/javascript">
            alert("@TempData["ThieuXeMessage"]");
        </script>
    }
    if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
            alert("@TempData["alertMessage"]");
        </script>
    }
}
<div class="about-page">
    <section class="templatemo-top-section">
        @await Component.InvokeAsync("MenuView")
        @await Component.InvokeAsync("Slide")
    </section>

    <!--Main content-->
    <section class="container margin-bottom-50">
        <!--Highest Price-->
        <div>
            <h4 class="about-container-3">Giá Cao Nhất</h4>
            @await Component.InvokeAsync("HighestPrice")
        </div>

        <!--Newest Car-->
        <div>
            <h4 class="about-container-3">Mới Nhập Gần Đây</h4>
            @await Component.InvokeAsync("NewestCar")
        </div>

        <!--Leader-->
        <div>
            <h4 class="about-container-3">Được Ưa Chuộng Nhất</h4>
            @await Component.InvokeAsync("BestSellCars")
        </div>

        @await Component.InvokeAsync("Banner")
    </section> <!-- Main content -->
</div>