@using PTUDW_CTS_QuanLyBanXeOto.Models
@model List<User>

<main id="main" class="main">
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" style="width: 100%;">
                <div class="card h-100">
                    <form asp-area="Admin" asp-controller="Profile" asp-action="UpdatePass" class="card-body" style="padding: 25px;">
                        <input type="hidden" name="UserID" value="@Model.Select(u => u.UserID).FirstOrDefault()">
                        <div class="row gutters">
                            <div class="form-group col-4 mb-5">
                                <label for="Password">Nhập Mật Khẩu Cũ:</label>
                                <input type="password" class="form-control" name="Password" autocomplete="off" required>
                            </div>
                            <div class="form-group col-4 mb-5">
                                <label for="Password">Nhập Mật Khẩu Mới:</label>
                                <input type="password" class="form-control" name="NewPassword1" autocomplete="off" required>
                            </div>
                            <div class="form-group col-4 mb-5">
                                <label for="Password">Nhập Lại Mật Khẩu Mới:</label>
                                <input type="password" class="form-control" name="NewPassword2" autocomplete="off" required>
                            </div>
                            <div class="form-group col-12 text-end">
                                <a href="@Url.Action("Index", "Home", new { area = "Admin" })" class="btn btn-danger">Hủy</a>
                                <button type="submit" id="submit" class="btn btn-success">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>