<style>
    .slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .slider-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }

    .slide {
        min-width: 100%;
        flex-shrink: 0;
        height: auto;
    }

    .slide img {
        width: 100%;
        height: auto;
    }
</style>
<div class="welcome-slider">
    <div class="container">
        <div class="row">
            <div class="slider">
                <div class="slider-inner">
                    <div class="slide" style="justify-content: center;display: flex;">
                        <div class="about-slider">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <img src="~/img/about/1.jpg" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 about-slider-description">
                                <h2 class="text-uppercase welcome-title">
                                    <span class="welcome-title-1">Chất lượng</span>
                                    <span class="welcome-title-2">làm nên thương hiệu</span>
                                </h2>
                                <p class="welcome-message">
                                    HHS cam kết chất lượng xe hoàn hảo. Với mỗi chiếc xe của chúng tôi, bạn sẽ cảm nhận được sự <span class="blue">sang trọng</span> và <span class="green">tiện nghi</span>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide" style="justify-content: center;display: flex;">
                        <div class="about-slider">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <img src="~/img/about/2.jpg" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 about-slider-description">
                                <h2 class="text-uppercase welcome-title">
                                    <span class="welcome-title-1">Đa dạng</span>
                                    <span class="welcome-title-2">mẫu mã &amp; dịch vụ</span>
                                </h2>
                                <p class="welcome-message">
                                    Với hơn 100 hãng xe và hơn 500 dòng xe, chúng tôi sẽ giúp bạn lựa chọn được chiếc xe phù hợp.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const sliderInner = document.querySelector('.slider-inner');
        const slides = document.querySelectorAll('.slide');
        const totalSlides = slides.length;
        let currentSlide = 0;

        function nextSlide() {
            currentSlide = (currentSlide + 1) % totalSlides;
            updateSliderPosition();
        }

        function updateSliderPosition() {
            const offset = -currentSlide * 100;
            sliderInner.style.transform = `translateX(${offset}%)`;
        }
        setInterval(nextSlide, 5000);
    });
</script>