<div class="templatemo-welcome welcome-slider">
    <div class="container">
        <div class="row">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="about-slider">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <img src="~/img/about/1.jpg" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 about-slider-description">
                                <h2 class="text-uppercase welcome-title">
                                    <span class="welcome-title-1">Chất lượng</span>
                                    <span class="welcome-title-2">làm nên thương hiệu</span>
                                </h2>
                                <p class="welcome-message">
                                    HHS cam kết chất lượng xe hoàn hảo. Với mỗi chiếc xe của chúng tôi, bạn sẽ cảm nhận được sự <span class="blue">sang trọng</span> và <span class="green">tiện nghi</span>.
                                    Cảm ơn quý khách hàng đã chọn chúng tôi. Chúc quý khách có những phút giây tuyệt vời!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="about-slider">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <img src="~/img/about/1.jpg" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 about-slider-description">
                                <h2 class="text-uppercase welcome-title">
                                    <span class="welcome-title-1">Đa dạng</span>
                                    <span class="welcome-title-2">mẫu mã &amp; dịch vụ</span>
                                </h2>
                                <p class="welcome-message">
                                    Với hơn 100 hãng xe và hơn 500 dòng xe, chúng tôi sẽ giúp bạn lựa chọn được chiếc xe phù hợp với chiếc xe mà bạn đang cần.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>