
<div class="services-page">

    <section class="templatemo-top-section">
        @await Component.InvokeAsync("MenuView")
        @await Component.InvokeAsync("Slide") 
    </section>
    <div class="container margin-bottom-50">
        <div class="row">
            <div class="col-lg-12 tm-overflow-hidden">
                <div class="tm-img-1-container">
                    <img src="~/img/Background/Lamborghini_bg.jpg" alt="Image description">
                    <p class="tm-img-1-description">Lamborghini</p>
                </div>
                <div class="tm-img-1-container">
                    <img src="~/img/Background/Porsche_bg.jpg" alt="Image description">
                    <p class="tm-img-1-description">Porsche</p>
                </div>
                <div class="tm-img-1-container">
                    <img src="~/img/Background/RollsRoyce_bg.jpg" alt="Image description">
                    <p class="tm-img-1-description">Rolls Royce</p>
                </div>
                <div class="tm-img-1-container">
                    <img src="~/img/Background/Volkswagen_bg.jpg" alt="Image description">
                    <p class="tm-img-1-description">Volkswagen</p>
                </div>
            </div>
        </div>
    </div>

    <!--Main content-->
    <section class="container margin-bottom-50">
        <div class="services-container-1">
            <h2 class="services-title">Dịch Vụ</h2>
            <div class="services-blocks-container">
                <div class="services-block">
                    <div class="services-header">
                        <i class="fa fa-plus services-icon"></i>
                        <h3 class="services-title-2">Bảo Hành</h3>
                    </div>
                    <p class="services-description">Lên tới chục năm</p>
                </div>
                <div class="services-block">
                    <div class="services-header">
                        <i class="fa fa-plus services-icon"></i>
                        <h3 class="services-title-2">Sửa Chữa</h3>
                    </div>
                    <p class="services-description">Miễn phí nếu là người nổi tiếng</p>
                </div>
            </div>
            <div class="services-blocks-container">
                <div class="services-block">
                    <div class="services-header">
                        <i class="fa fa-plus services-icon"></i>
                        <h3 class="services-title-2">Đổi Trả</h3>
                    </div>
                    <p class="services-description">Có cái nịt!</p>
                </div>
                <div class="services-block">
                    <div class="services-header">
                        <i class="fa fa-plus services-icon"></i>
                        <h3 class="services-title-2">Độ Xe</h3>
                    </div>
                    <p class="services-description">Dành cho những người có người quen là quan chức trong giao thông đường bộ</p>
                </div>
            </div>
        </div>

        <div class="about-container-2">
            <div class="services-container-inner">
                <h3 class="about-title-2">Dịch Vụ 1</h3>
                <img src="~/img/services-1.jpg" alt="Image" class="img-responsive margin-bottom-15">
                <p class="about-description">Chưa có gì!</p>
                <a href="#" class="about-link about-link-2">Chi tiết</a>
            </div>
            <div class="services-container-inner">
                <h3 class="about-title-2">Dịch Vụ 2</h3>
                <img src="~/img/services-1.jpg" alt="Image" class="img-responsive margin-bottom-15">
                <p class="about-description">Chưa có gì!</p>
                <a href="#" class="about-link about-link-2">Chi tiết</a>
            </div>
            <div class="services-container-inner">
                <h3 class="about-title-2">Dịch Vụ 3</h3>
                <img src="~/img/services-1.jpg" alt="Image" class="img-responsive margin-bottom-15">
                <p class="about-description">Chưa có gì!</p>
                <a href="#" class="about-link about-link-2">Chi tiết</a>
            </div>
        </div>
        @await Component.InvokeAsync("Banner")
    </section> <!-- Main content -->
</div>
